<% content_for :page_title, @review.title %>

<h1><%= @review.title %></h1>
<h2>Restaurant | <%= @review.restaurant %></h2>

<%= image_tag(@review.photo_url(:medium).to_s) %>

<div class="user">
  Posted by

  <% if @review.user.present? %>
    <%= @review.user.username %> 
  <% else %>
    anonymous
  <% end %>
</div>

<% if is_logged_in? %>
  <p>
    <% if @review.bookmarks.where(user: @current_user).any? %>
      <%= link_to "Unbookmark", review_bookmark_path(@review), method: :delete %>
    <% else %>
      <%= link_to "Bookmark", review_bookmark_path(@review), method: :post %>
    <% end %>
  </p>
<% end %>

<h3>Bookmarked by</h3>

<ul>
  <% @review.bookmarks.each do |bookmark| %>
    <li><%= bookmark.user.username %></li>
  <% end %>
</ul>

<% if @review.phone_number.present? %>
  <h3>Tel | <%= @review.phone_number %></h3>
<% end %>

<% if @review.ambiance.present? %>
  <h3>Ambiance | <%= @review.ambiance %></h3>
<% end %>

<% if @review.price.present? %>
    <h3>Price | £<%= @review.price %></h3>
<% end %>

<div class="score">
  Score | <%= @review.score %> / 10
</div>

<% if @review.cuisine.present? %>
  <div class="cuisine">
    Cuisine | <%= @review.cuisine %>
  </div>
<% end %>

<div class="body">
  <%= simple_format @review.body %>
</div>

<% if @review.user == @current_user %>
  <div class="actions">
    <% if @review.created_at > 1.hour.ago %>
      <%= link_to "edit", edit_review_path(@review) %> |
    <% end %>
    <%= link_to "delete", review_path(@review), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<h3>Comments</h3>

<% @review.comments.order("created_at desc").each do |comment| %>
  <div class="comment">
    <%= simple_format comment.body %>

    <p class="posted">
      Posted by
        <% if comment.user.present? %>
          <%= link_to comment.user.username, user_path(comment.user) %>
        <% else %>
          anonymous
        <% end %>
    </p>

    <p class="posted"><%= time_ago_in_words comment.created_at %> ago</p>
  </div>
<% end %>

<h3>add comment</h3>
<%= simple_form_for [@review, Comment.new] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, "add comment" %>
<% end %>
