<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> | HYPE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <nav>
        <h1>
          <%= link_to root_path do %>
           <%= image_tag "HYPE.svg" %>
          <% end %>
        </h1>
      </nav>

      <form action="/">
        <input type="text" name="location" placeholder="search by city" value="<%= @location %>">

        <input type="hidden" name="price" value="<% @price %>">
        <input type="hidden" name="cuisine" value="<% @cuisine %>">
      </form>

      <nav>
        <% if is_logged_in? %>

          <%= @current_user.username %> |

          <% if @current_user.is_admin? %>
            <%= link_to "admin", admin_root_path %> |
          <% end %>

          <%= link_to "add review", new_review_path %> |
          <%= link_to "edit", edit_account_path %> |
          <%= link_to "logout", session_path, method: :delete %>

        <% else %>

          <%= link_to "sign up", new_user_path %> |
          <%= link_to "login", new_session_path %>
        <% end %>
      </nav>

    </header>

    <% if flash[:success].present? %>
      <div class="message">
        <%= flash[:success] %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      HYPE Copyright 2019 | <%= link_to "about", about_path %> | <%= link_to "terms", terms_path %>
    </footer>
  </body>
</html>
